Repository iven-yao/CapybaraUI: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
    "*.ts": [
      "eslint"
    ],
    "*.html": [
      "eslint",
      "prettier --write"
    ],
    "*.scss": "prettier --write"
  }

[#1] update radiogroup docs
  src/components/Button/ButtonDocs.tsx
  src/components/Docs/Docs.scss
  src/components/Docs/QuickViewResult.tsx
  src/components/RadioGroup/RadioGroupDocs.tsx
Due: prettier --write

[#1] update radio group css
  src/components/RadioGroup/Radio.scss
Due: prettier --write

[#2] add switch component, basic functionality and docs, todo: variants (outline, icon)
  src/AppRouter.tsx
  src/components/Button/Button.scss
  src/components/Docs/ControlPanel.tsx
  src/components/Docs/ControlPanelProps.tsx
  src/components/Docs/Docs.scss
  src/components/Docs/Docs.tsx
  src/components/Select/SelectDocs.tsx
  src/components/Switch/Switch.scss
  src/components/Switch/Switch.tsx
  src/components/Switch/SwitchDocs.tsx
  src/components/Switch/SwitchProps.tsx
  src/components/Switch/index.ts
  src/constants/propConstants.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/types/propTypes.ts
Due: eslint, prettier --write

add themeprovider, to provide an easier way to set up primarycolors, fix color order in each component, add nebula background into collections
  src/components/Background/Background.scss
  src/components/Background/BackgroundProps.tsx
  src/components/Background/Nebula.tsx
  src/components/Button/Button.scss
  src/components/Button/Button.tsx
  src/components/Docs/ControlPanel.tsx
  src/components/Docs/Docs.scss
  src/components/Dropdown/Dropdown.scss
  src/components/Dropdown/Dropdown.tsx
  src/components/Error/ErrorPage.tsx
  src/components/Home/Home.tsx
  src/components/Input/Input.scss
  src/components/Input/Input.tsx
  src/components/Input/InputProps.ts
  src/components/Layout/Layout.tsx
  src/components/Navbar/Navbar.scss
  src/components/RadioGroup/RadioGroup.tsx
  src/components/Select/Select.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/SwitchDocs.tsx
  src/components/Theme/ThemeContext.tsx
  src/components/Theme/ThemeProps.ts
  src/components/Theme/ThemeProvider.tsx
  src/index.tsx
Due: eslint, prettier --write

update lintstaged config
  .lintstagedrc.json
Due: none

update button test
  src/components/Button/Button.test.tsx
Due: none

misc fix
  src/components/Background/Background.scss
  src/components/Button/Button.tsx
  src/components/Button/ButtonDocs.tsx
  src/components/Button/ButtonProps.tsx
  src/components/Docs/ControlPanel.tsx
  src/components/Error/ErrorPage.tsx
  src/components/Home/Home.scss
  src/components/Home/Home.tsx
  src/components/Input/Input.tsx
  src/components/Select/Select.tsx
  src/components/Theme/ThemeContext.tsx
  src/components/Theme/ThemeProvider.tsx
Due: prettier --write

remove shadow property on button/dropdown
  src/components/Button/Button.scss
  src/components/Dropdown/Dropdown.scss
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/DropdownButton.tsx
  src/components/Dropdown/DropdownDocs.tsx
  src/components/Dropdown/DropdownProps.tsx
  src/components/Dropdown/Items.tsx
Due: prettier --write

organized app router and docs navlink in routerConstants
  src/AppRouter.tsx
  src/components/Docs/Docs.tsx
  src/constants/routerConstants.tsx
Due: none

update existing components, update doc control panel
  src/components/Button/Button.scss
  src/components/Button/ButtonDocs.tsx
  src/components/Button/ButtonProps.tsx
  src/components/Checkbox/Checkbox.scss
  src/components/Docs/ControlPanel.tsx
  src/components/Docs/ControlPanelProps.tsx
  src/components/Dropdown/Dropdown.scss
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/DropdownButton.tsx
  src/components/Dropdown/DropdownDocs.tsx
  src/components/Dropdown/DropdownProps.tsx
  src/components/Dropdown/Item.tsx
  src/components/Dropdown/Items.tsx
  src/components/Icon/Icons.tsx
  src/components/RadioGroup/Radio.scss
  src/components/RadioGroup/RadioGroupDocs.tsx
  src/components/RadioGroup/RadioProps.tsx
  src/components/Ripple/Ripple.scss
  src/components/Select/Select.scss
  src/components/Select/Select.tsx
  src/components/Select/SelectProps.tsx
  src/components/Switch/Switch.scss
  src/components/Switch/SwitchDocs.tsx
  src/components/Switch/SwitchProps.tsx
  src/constants/propConstants.ts
  src/styles/_mixin.scss
  src/styles/_variables.scss
  src/types/propTypes.ts
Due: eslint, prettier --write

[#9] update input component and docs
  src/components/Input/Input.scss
  src/components/Input/Input.tsx
  src/components/Input/InputDocs.tsx
  src/components/Input/InputProps.ts
Due: eslint, prettier --write

fix: color type is deprecate, remove legacy reference
  src/components/Checkbox/CheckboxProps.tsx
  src/components/Navbar/NavbarProps.tsx
  src/components/Ripple/Ripple.tsx
Due: none

fix input control bug: not working correctly when the input is number
  src/components/Select/SelectDocs.tsx
  src/components/Switch/SwitchDocs.tsx
Due: none

fix misc
  src/components/Docs/Docs.scss
  src/components/Input/Input.scss
  src/components/Input/Input.tsx
  src/components/Layout/Layout.tsx
  src/components/Switch/Switch.scss
  src/components/Theme/ThemeContext.tsx
  src/components/Theme/ThemeProvider.tsx
  src/styles/_animation.scss
  src/styles/_variables.scss
Due: prettier --write

fix select bug, add theme provider docs
  src/AppRouter.tsx
  src/components/Docs/ControlPanel.tsx
  src/components/Docs/ControlPanelProps.tsx
  src/components/Docs/Docs.scss
  src/components/Docs/Docs.tsx
  src/components/Dropdown/Dropdown.scss
  src/components/Select/Select.tsx
  src/components/Theme/ThemeProviderDocs.tsx
  src/constants/routerConstants.tsx
Due: prettier --write

remove redundant docs section
  src/components/Button/ButtonDocs.tsx
  src/components/Dropdown/DropdownDocs.tsx
  src/components/Input/InputDocs.tsx
  src/components/Theme/ThemeProviderDocs.tsx
Due: none

misc fix
  package.json
  src/components/Background/Background.scss
  src/components/Dropdown/Dropdown.scss
  src/docs/ButtonDocs.tsx
Due: prettier --write

audit fix
  package-lock.json
Due: none

import from @ivenyao/capybara-ui
  package-lock.json
  package.json
  src/pages/Error/ErrorPage.tsx
Due: none

import all components from node package
  package-lock.json
  package.json
  src/docs/ButtonDocs.tsx
  src/docs/ControlPanel.tsx
  src/docs/DropdownDocs.tsx
  src/docs/ImageTextDocs.tsx
  src/docs/InputDocs.tsx
  src/docs/NeonTextDocs.tsx
  src/docs/QuickViewResult.tsx
  src/docs/RadioGroupDocs.tsx
  src/docs/SelectDocs.tsx
  src/docs/SwitchDocs.tsx
  src/docs/ThemeProviderDocs.tsx
  src/docs/ThreeDTextDocs.tsx
  src/index.tsx
  src/pages/Error/ErrorPage.tsx
  src/pages/Layout/Layout.tsx
Due: none

update theme provider docs
  src/AppRouter.tsx
  src/docs/ControlPanelProps.tsx
  src/docs/ThemeProviderDocs.tsx
Due: none
